body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: cadetblue;  
}


.contenedor{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: "menu menu menu "
                         "carousel carousel carousel"
                         "historia historia historia"
                         "productos productos productos"
                         "contacto contacto contacto"
   
}

.carousel{

    grid-area: carousel;
    
}


.menu{
    
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 90px;
    box-sizing: border-box ;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    grid-area: menu;
}

.menu .logo{
    padding:22px 20px;
    height:80px;
    float:left;
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
    color:#fff;
}

.menu ul{
    list-style: none;
    float:right;
    margin:0;
    padding:0;
    display:flex;  
   
}

.menu ul li a{
    line-height: 80px;
    color:#fff;
    padding:12px 90px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
   
    

}

.menu ul li a:hover{
    background: rgba(0,0,0,0.6);
    border-radius: 6px;  
}


#historia{
    grid-area:historia;
    display:grid;

    grid-template-columns: 50%;
    grid-template-areas: "titulo_historia titulo_historia"
                         "historia_1 historia_2 "
                         "historia_3 historia_4"
                         "historia_5 historia_6"
                        

}

.titulo_historia{

    grid-area: titulo_historia;
    text-align: center;
    font-size: 80px;;

}


.historia_1{
    margin:50px;
    grid-area: historia_1;
    padding:30px;
}

.historia_2{
    grid-area: historia_2;
    margin:50px;
    
    padding:30px;
}

.historia_3{
    grid-area: historia_3;
    margin:40px;
    padding:20px;
}

.historia_4{
    grid-area: historia_4;
    margin:50px;
    padding:20px;
}

.historia_5{
    grid-area: historia_5;
    margin:50px;
    padding:30px;
}

.historia_6{
    grid-area: historia_6;
    margin:50px;
    padding:30px;
}


#productos{
    grid-area:productos;
    height: 1000px;


}

#contacto{

    grid-area:contacto;
    height: 1000px;

}




